<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script>  
            function show_just_all() {
                document.getElementById("all").style.display = "block"; 
                document.getElementById("hard").style.display = "none";
                document.getElementById("soft").style.display = "none";
                document.getElementById("pos").style.display = "none";
                document.getElementById("neu").style.display = "none";
                document.getElementById("neg").style.display = "none";  
            }

            function show_just_hard() {
                document.getElementById("all").style.display = "none";  
                document.getElementById("hard").style.display = "block";  
                document.getElementById("soft").style.display = "none";
                document.getElementById("pos").style.display = "none";
                document.getElementById("neu").style.display = "none";
                document.getElementById("neg").style.display = "none"; 
            } 

            function show_just_soft() {
                document.getElementById("all").style.display = "none";  
                document.getElementById("hard").style.display = "none";  
                document.getElementById("soft").style.display = "block";
                document.getElementById("pos").style.display = "none";
                document.getElementById("neu").style.display = "none";
                document.getElementById("neg").style.display = "none"; 
            } 

            function show_just_pos() {
                document.getElementById("all").style.display = "none";  
                document.getElementById("hard").style.display = "none";  
                document.getElementById("soft").style.display = "none";
                document.getElementById("pos").style.display = "block";
                document.getElementById("neu").style.display = "none";
                document.getElementById("neg").style.display = "none";
            }

            function show_just_neu() {
                document.getElementById("all").style.display = "none";  
                document.getElementById("hard").style.display = "none";  
                document.getElementById("soft").style.display = "none";
                document.getElementById("pos").style.display = "none";
                document.getElementById("neu").style.display = "block";
                document.getElementById("neg").style.display = "none";
            }

            function show_just_neg() {
                document.getElementById("all").style.display = "none";  
                document.getElementById("hard").style.display = "none";  
                document.getElementById("soft").style.display = "none";
                document.getElementById("pos").style.display = "none";
                document.getElementById("neu").style.display = "none";
                document.getElementById("neg").style.display = "block"; 
            }

            function url_click_handler(cat, link) { 
                document.getElementById("urlink").value = link; 
                document.getElementById("request_inc_hs").value = cat; 
                document.getElementById("request_inc_hs_form").submit();  
            }
        </script>
    </head>

    <body> 
        <button style="color: black; background-color: cadetblue; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; margin-left: 60px; margin-right: 50px" type="button" onclick="show_just_all()">All</button>
        <button style="color: black; background-color: cadetblue; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; margin-left: 25px; margin-right: 50px" type="button" onclick="show_just_hard()">Hard News</button>
        <button style="color: black; background-color: cadetblue; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; margin-left: 25px; margin-right: 50px" type="button" onclick="show_just_soft()">Soft News</button>
        <button style="color: black; background-color: cadetblue; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; margin-left: 25px; margin-right: 50px" type="button" onclick="show_just_pos()">Positive News</button>
        <button style="color: black; background-color: cadetblue; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; margin-left: 25px; margin-right: 50px" type="button" onclick="show_just_neu()">Neutral News</button>
        <button style="color: black; background-color: cadetblue; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; margin-left: 25px; margin-right: 50px" type="button" onclick="show_just_neg()">Negative News</button> 

        <form id="request_inc_hs_form" method="POST">  
            {% csrf_token %}
            <input type = "hidden" name="req_inc_hs" id="request_inc_hs" value = "" />
            <input type = "hidden" name="url_link" id="urlink" value = "" />
        </form>
        
        <div style="margin-top: 40px; margin-bottom: 15px; margin-left: 300px;">  
            <form method="POST"> 
                {% csrf_token %} 
                <label for="search_box">Query: </label>
                <input style="width: 50%; height: 25px; margin-left: 10px;" id="search_box" type="text" name="query_search">  
                <input style="color: black; background-color: brown; height: 25px; padding-left: 10px; padding-right: 10px; padding-top: 5px; margin-left: 10px;" type="submit" value="Search"> 
            </form>
        </div>

        <div id="all">
            {% for result in all_results %} 
            <br/>
            <a onclick="url_click_handler('{{result.news_category.0}}', '{{result.url.0}}')" href="#">{{result.title.0}}</a>
            <br/><br/>
            Category: {{result.news_category.0}} news 
            <br/>
            Sentiment: {{result.sentiment.0}}
            <br/><br/>
            {% endfor %}
        </div>
        
        <div id="hard">
            {% for result in hard %} 
            <br/>
            <a onclick="url_click_handler('{{result.news_category.0}}', '{{result.url.0}}')" href="#">{{result.title.0}}</a> 
            <br/><br/>
            {{result.news_category.0}} news 
            <br/>
            {{result.sentiment.0}} sentiment 
            <br/><br/>
            {% endfor %}
        </div>

        <div id="soft">
            {% for result in soft %} 
            <br/>
            <a onclick="url_click_handler('{{result.news_category.0}}', '{{result.url.0}}')" href="#">{{result.title.0}}</a>
            <br/><br/>
            {{result.news_category.0}} news 
            <br/>
            {{result.sentiment.0}} sentiment 
            <br/><br/>
            {% endfor %}
        </div>

        <div id="pos">
            {% for result in positive %} 
            <br/>
            <a onclick="url_click_handler('{{result.news_category.0}}', '{{result.url.0}}')" href="#">{{result.title.0}}</a>
            <br/><br/>
            {{result.news_category.0}} news 
            <br/>
            {{result.sentiment.0}} sentiment 
            <br/><br/>
            {% endfor %}
        </div>

        <div id="neu">
            {% for result in neutral %} 
            <br/>
            <a onclick="url_click_handler('{{result.news_category.0}}', '{{result.url.0}}')" href="#">{{result.title.0}}</a>
            <br/><br/>
            {{result.news_category.0}} news 
            <br/>
            {{result.sentiment.0}} sentiment 
            <br/><br/>
            {% endfor %}
        </div>

        <div id="neg">
            {% for result in negative %} 
            <br/>
            <a onclick="url_click_handler('{{result.news_category.0}}', '{{result.url.0}}')" href="#">{{result.title.0}}</a>
            <br/><br/>
            {{result.news_category.0}} news 
            <br/>
            {{result.sentiment.0}} sentiment 
            <br/><br/>
            {% endfor %}
        </div>

        <script>
            if ('{{link}}'.localeCompare("")!=0) {
                window.location.href = '{{link}}'; 
            }
            else if (parseInt('{{hardcount}}') >= parseInt('{{softcount}}')) {
                  show_just_hard(); 
            }
            else if (parseInt('{{hardcount}}') < parseInt('{{softcount}}')) {
                show_just_soft(); 
            }
             
        </script>
         
    </body>
</html>